@import '../components/color-variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$red: color("red", "darken-3");

body {
    -webkit-print-color-adjust: exact !important;

    & .actions {
        & .btn, .btn-small, .btn-large {
            background-color: #42349b;
            display: flex;
            align-items: baseline;
        }
    }
}

.timologioContent {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    & .row {
        width: 100%;
    }
}

.ml-18 {
    margin-left: 18%!important;
}

.btn.border-round {
    font-size: 14px;
    line-height: 27px;
    & i {
        position: relative;
        top: 4px;
        margin-right: 7px;
    }
}

table, p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    & tr {
        &.no-border {
            border: none;
        }
        & th {
            &.print-hide {
                @media print {
                    display: none;
                }
            }
        }
        & td {
            vertical-align: middle;

            &.success {
                background: #d7ffd7;
            }

            &.warning {
                background: #fbffdd;
            }

            &.tools {
                padding: 7px 0;

                & a {
                    padding: 2px 7px;
                }

                & i {
                    font-size: 12px;
                    font-weight: 300;
                }
            }
            &.print-hide {
                @media print {
                    display: none;
                }
            }

            & i {
                font-size: 12px;

                &.fa-check, &.fa-times, &.fa-smile, &.fa-frown {
                    color: #2a3f54;
                    font-size: 17px;
                    font-weight: 300;
                }
            }

            & button, form.btn {
                padding: 0 5px !important;
            }

            a.btn-xs {
                font-size: 12px;

                & i {
                    color: #fff;
                }
            }
        }

        &.sumPrices {
            background: #000;

            & td {
                color: #fff !important;
                font-size: 14px;
                padding: 14px 10px;
                font-weight: 500;
            }
        }
    }
}

.timologioContent {
    font-family: 'Roboto', sans-serif;

    & .invoice-table {
        padding: 0 1.5rem 3rem 1.5rem;
        @media print {
            width: 100%!important;
            padding: 0 15px;
            margin: 0;
        }
    }

    @media print {
        max-height: 100% !important;
        padding: 0;
    }

    & hr.main-color {
        color:$red;
        border: 1px solid $red;
        border-top: 0;
        @media print {
            margin: 10px 0;
        }
    }

    & .invoice-color {
        color: $red;
    }

    & .invoice-color-bg {
        background-color:$red;
    }

    & .x_panel.container {
        max-width: 1200px;
        padding: 25px 30px 45px 30px;
        margin: 0 auto 10px auto;
        display: block;
        @media print {
            border: none;
            padding: 0;
            overflow: hidden;
        }

        & .x_title {
            @media print {
                display: none;
            }
        }
    }

    & .invoiceform {
        width: 100%;
        margin: 0;
        @media print {
            margin-top: 0;
        }
        & .invoice-form {
            &--left {
                @media (max-width: 640px) {
                    padding: 2rem 0;
                }
            }
            &--right {

            }
        }
        & .tim-info {
            text-align: right;
            & h4 {
                font-size: 20px;
                font-weight: 500;
            }
            & h5 {
                font-size: 15px;
                font-weight: 500;
            }
        }

        & .timNumber {
            margin-bottom: 0;
            text-align: right;
            font-size: 13px;
            font-weight: 400;
            @media (max-width: 640px) {
                text-align: left;
                margin: 0;
            }
        }

        & .tim-date {
            padding-left: 11px;
        }
    }

    & .timClient {
        & span {
            margin-bottom: 1rem;
            display: block;
        }
    }

    & .paratiriseis {
        padding: 0;

        & #parakratisi {
            height: 30px;
            margin-top: 10px;
            font-weight: 700;
            @media (max-width: 640px) {
                height: auto;
            }
        }
    }

    & .timTable {
        padding: 0;

        & table {
            width: 100%;
            border-spacing: 2px;
            border-collapse: separate;

            & tr {
                background: #fff;

                & th {
                    background-color: $red;
                    color: #fff;
                    padding: 6px;
                    font-size: 12px;
                    @media print {
                        font-size: 12px;
                    }
                }

                & td {
                    padding: 5px 7px;
                    font-size: 13px;
                    line-height: 17px;
                    border-bottom: thin solid $red;
                    @media print {
                        font-size: 12px;
                        line-height: 15px;
                    }

                }
                &.right-align {
                    & td {
                        text-align: right;
                    }
                }

            }
        }

        & .aade-mydata-mark {
            padding: 140px 0 0 0;
            float: right;
            font-size: 18px;
            font-weight: 500;
        }

        & .signature {
            width: 50%;

            & span {
                display: block;
                margin: 50px 0 25px 15px;
                font-weight: 300;
                font-size: 16px;
                color: $red;
                @media print {
                    margin: 30px 0;
                }
            }

            & img {
                margin-left: 25px;
                width: 325px;
                @media print {
                    max-width: 240px;
                }
            }
        }
    }

    & .invoice-action-btn {
        & a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }

    & .invoiceform.footer {
        width: 100%;
        margin-top: 3rem;
        @media print {
            margin-top: 20px;
        }

        & td {
            border: none;
            text-align: center;
        }
    }
}

.payments-page {
    & .card {
        padding: 1rem;
        & h3 {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 2rem;
            border-bottom: thin solid;
            padding: 5px 15px;
        }
        & h4 {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 2rem;
        }
    }
}

.messageAttach {
    width: 100%;
    height:0;
    visibility: hidden;
}

.extraMessage {
    width: 100%;
    height:0;
    visibility: hidden;
    transition: height 0.25s linear;
    &.active {
        height: 30px;
        visibility: visible;
        transition: height 0.25s linear;
        & + .messageAttach {
            height: 60px;
            visibility: visible;
        }
    }
}

.sumPrices, .finals {
    background-color: #545454!important;
}
